/* GEIST MONO
UltraBlack: 900
Black: 800
Bold: 700
SemiBold: 600
Medium: 500
Regular: 400
Light: 300
UltraLight: 200
Thin: 100 
*/

/* GEIST SANS REGULAR */
@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/geist-sans/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* GEIST SANS THIN */
@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/geist-sans/Geist-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* GEIST SANS EXTRALIGHT */
@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/geist-sans/Geist-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* GEIST SANS LIGHT */
@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/geist-sans/Geist-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* GEIST SANS MEDIUM */
@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/geist-sans/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GEIST SANS SEMIBOLD */
@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/geist-sans/Geist-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* GEIST SANS BOLD */
@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/geist-sans/Geist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* GEIST SANS EXTRABOLD */
@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/geist-sans/Geist-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* GEIST SANS BLACK */
@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/geist-sans/Geist-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* GEIST MONO
UltraBlack: 900
Black: 800
Bold: 700
SemiBold: 600
Medium: 500
Regular: 400
Light: 300
UltraLight: 200
Thin: 100 
*/

/* GEIST MONO REGULAR */
@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geist-mono/GeistMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* GEIST MONO THIN */
@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geist-mono/GeistMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* GEIST MONO ULTRALIGHT */
@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geist-mono/GeistMono-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* GEIST MONO LIGHT */
@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geist-mono/GeistMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* GEIST MONO MEDIUM */
@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geist-mono/GeistMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GEIST MONO SEMIBOLD */
@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geist-mono/GeistMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* GEIST MONO BOLD */
@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geist-mono/GeistMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* GEIST MONO BLACK */
@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geist-mono/GeistMono-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* GEIST MONO ULTRABLACK */
@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geist-mono/GeistMono-UltraBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
