* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --siteMaxWidth: 1440px;
  --sitePadding: 2rem;
  --GeistSans-and-fallbacks:
    "Geist Sans", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
    Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --GeistMono-and-fallbacks: "Geist Mono", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --clrPrimary: hsl(66, 100%, 33%);
  --clrPrimaryHover: hsl(from var(--clrPrimary) h s calc(l + 10));
  --clrSecondary: hsl(191, 59%, 30%);
  --clrSecondaryHover: hsl(from var(--clrSecondary) h s calc(l + 10));
}
:root[data-theme="dark"] {
  --clrBg: hsl(212, 60%, 5%);
  --clrBgLight: hsl(183, 41%, 10%);
  --clrHeading: hsl(0, 0%, 100%);
  --clrText: hsl(240, 9%, 91%);
  --clrDetail: rgb(171, 171, 171);
  --clrBorder: hsl(240, 3%, 19%);
}
:root[data-theme="light"] {
  --clrBg: hsl(0, 0%, 98%);
  --clrBgLight: hsl(0, 0%, 92%);
  --clrHeading: hsl(212, 60%, 20%);
  --clrText: hsl(240, 9%, 30%);
  --clrDetail: hsl(0, 0%, 50%);
  --clrBorder: hsl(240, 3%, 80%);
}
html {
  font-family: var(--GeistSans-and-fallbacks);
  font-size: 62.5%;
  color: var(--clrText);
  background-color: var(--clrBg);
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-size: 1.6rem;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 100dvh;
  padding: 0 var(--sitePadding);
}
nav,
header,
footer,
main {
  max-width: var(--siteMaxWidth);
  width: 100%;
}
nav,
header,
footer {
  flex-shrink: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--clrBorder);
}
#nav-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--GeistMono-and-fallbacks);
  font-weight: 200;
  font-size: 3rem;
  color: var(--clrPrimary);
  line-height: 1;
}
#nav-logo img {
  height: 3rem;
}
#nav-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.question-mark,
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}
header {
  padding: 2rem 0;
}
main {
  flex-grow: 1;
}
footer {
  padding: 4rem 0;
  text-align: center;
  color: var(--clrDetail);
  font-weight: 200;
}
section:not([aria-label="Notifications alt+T"]) /* Avoids Sonner's section */ {
  padding: 2rem 0;
}
/* DEFAULTS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--GeistMono-and-fallbacks);
  font-weight: 400;
  color: var(--clrHeading);
}
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
}
img,
svg {
  display: block;
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
ul,
ol {
  list-style-position: inside;
}
button {
  all: unset;
  flex-shrink: 0;
  text-transform: uppercase;
  font-family: var(--GeistMono-and-fallbacks);
  color: inherit;
  cursor: pointer;
}
button:disabled {
  pointer-events: none;
}
[popover] {
  color: inherit;
  border: none;
  height: auto;
}
summary {
  cursor: pointer;
}
details[open] summary {
  margin-bottom: 1rem;
}
details ul,
details ol {
  padding-left: 1rem;
}
/* HELPERS */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 0.1rem 0.1rem black;
  background-color: var(--clrSecondary);
  border: 1px solid var(--clrBorder);
  border-radius: 0.4rem;
}
.btn.square {
  padding: 1rem;
}
.btn > * {
  flex-shrink: 0;
}
.btn:hover,
.btn:focus-visible {
  background-color: var(--clrSecondaryHover);
}
.btn svg {
  width: 1.2em;
  height: 1.2em;
  filter: drop-shadow(0 0.1rem 0.1rem black);
}
.btn-primary {
  background-color: var(--clrPrimary);
}
.btn-primary:hover,
.btn-primary:focus-visible {
  background-color: var(--clrPrimaryHover);
}
.btn:active {
  filter: brightness(1.1);
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.link {
  color: var(--clrPrimary);
}
.link:hover,
.link:focus-visible {
  text-decoration: underline;
}
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/**/
/* TARGET LIST */
.section-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
  column-gap: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--clrBgLight);
  border: 1px solid var(--clrBorder);
  border-radius: 0.4rem;
  box-shadow: inset 0 1px 0 hsl(from var(--clrBgLight) h s calc(l + 10));
  overflow: hidden;
}
.section-controls {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
#search-input {
  all: unset;
  flex-grow: 1;
  min-width: 0;
  padding: 1rem;
  font-family: var(--GeistMono-and-fallbacks);
  background: hsl(from var(--clrBgLight) h s calc(l - 2));
  border: 1px solid var(--clrBorder);
  border-radius: 0.4rem;
}
#section-controls-right {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#section-controls-right > * {
  flex-grow: 1;
  text-align: center;
}
#target-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.target-card {
  display: flex;
  align-items: stretch;
  border-radius: 0.4rem;
  background: var(--clrBgLight);
  border: 1px solid var(--clrBorder);
  overflow: hidden;
  box-shadow: inset 0 1px 0 hsl(from var(--clrBgLight) h s calc(l + 10));
}
.target-card:hover,
.target-card:has(:focus-visible) {
  border-color: hsl(from var(--clrBorder) h s calc(l + 10));
}
.target-captured {
  opacity: 0.5;
  filter: grayscale(1);
}
.target-card-left {
  position: relative;
  flex-shrink: 0;
  width: 10rem;
  background: linear-gradient(hsla(from var(--clrBg) h s l / 0.5), transparent);
  border-right: 1px solid var(--clrBorder);
}
.target-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) calc(0% + 4rem));
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) calc(0% + 4rem));
}
.target-name a {
  position: relative;
}
.target-name a svg {
  position: absolute;
  top: 0;
  left: calc(100% + 0.2em);
  width: 0.8em;
  height: 0.8em;
  opacity: 0.4;
  pointer-events: none;
}
.target-name a:hover,
.target-name a:focus-visible {
  text-decoration: underline;
}
.target-name a:hover svg,
.target-name a:focus-visible svg {
  opacity: 1;
}
.target-level {
  font-family: var(--GeistMono-and-fallbacks);
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  text-shadow: 0 0.1rem 0.1rem var(--clrBg);
}
.target-card-right {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
}
.target-metadata {
  word-break: break-word;
}
.target-metadata > * {
  display: block;
}
.target-subzone {
  color: var(--clrDetail);
}
.target-actions {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 1.2rem;
  white-space: nowrap;
}
.target-actions button {
  line-height: 0;
  padding: 0.5rem;
  justify-content: flex-end;
}

@media only screen and (max-width: 492px) {
  .target-card-right {
    flex-direction: column;
    align-items: stretch;
  }
  .target-actions {
    align-items: stretch;
  }
  .section-controls button > *:not(svg) {
    display: none;
  }
}
